<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.areamobile.android.course"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    
    <application
        android:name=".SampleApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
       
        <service android:name=".SampleService"></service>
        <service android:name=".SampleIntentService"></service>
        <activity android:name=".ServiceActivity"></activity>
        <receiver android:name=".SampleBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <activity android:name=".OutputActivity"
            android:exported="true"
            >            
            <intent-filter>
                <action android:name="eu.areamobile.android.course.intent.action.OUTPUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".SampleList"></activity>
         <activity android:name=".AsyncActivity"></activity>
        <activity
            android:name="eu.areamobile.android.course.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>